:root {
  --white: #FFFFFF;

  --gray-50: #EEEEF2;
  --gray-100: #D1D2DC;
  --gray-200: #B3B5C6;
  --gray-300: #9699B0;
  --gray-400: #797D9A;
  --gray-500: #616480;
  --gray-600: #4B4D63;
  --gray-700: #353646;
  --gray-800: #1F2029;
  --gray-900: #181B23;

  --pink-500: #D53F8C;

  --purple-400: #9F7AEA;
  --purple-500: #805AD5;

  --blue: #2B4765;
}
