@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes showDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  50% {
      transform: scale(1.2);
  }
  75% {
      transform: scale(.9);
  }
  100% {
      transform: scale(1);
  }
}
